{% extends "app/layout.html" %}

{% block content %}

<div class="main-container">
    <div class="cloud-image">
        <img src="../../static/app/img/ML_Image.jpg" />
    </div>
    <div class="content">
        <div class="tweet-container">
            <a href="http://twitter.com/intent/tweet/?text=I%20just%20created%20a%20new%20Python%20Django%20website%20on%20Azure%20using%20Azure%20DevOps%20Project&hashtags=AzureDevOpsProject%2CVSTS%20%40Azure%20%40VSTS">
                <img src="../../static/app/img/tweetThis.svg" />
            </a>            
        </div>
        <div class="content-body">
            <div class="success-text">Success At Last!</div>
            <div class="description line-1"> Successfully Landed in your ML Solution Offereings</div>
            <div class="description line-2"> Your Python Django app is up and running for ML Solutions</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started right away </h2>
        <p>            
            Open to see the power of our Analytics & Predictive Solutions!
        </p>
        <!-- <p><a class="btn btn-default" id="weathergraph">Learn more &raquo;</a></p> -->
        <p><a class="btn btn-default" href="http://52.255.201.244:8001/landingp/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>24X7 Support Assistance</h2>
        <p>You can reach out to our new chat assistant Lima whenever needed</p>        
        <p><a class="btn btn-default" id="myBtn">Click To Chat &raquo;</a></p>
        <!-- <button class="open-button" onclick="openForm()">Chat</button> -->
        <div class="chat-popup" id="myForm">
            <form class="form-container" target="_blank" id="content">
                <h1>Chat</h1>
				<label for="msg"><b>Message</b></label>
                <!-- <textarea placeholder="Type message.." name="msg" required></textarea> -->
                <textarea id="txtcontent"></textarea>
                <button type="submit" class="btn">Send</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>  
            </form>
        </div>    
        <!-- <div> 
            <object type="text/html" data="http://52.255.201.244:5000/bank" width="800px" height="600px" style="overflow:auto;border:5px ridge blue">
            </object>
        </div> -->
        <!-- <div class="my-chat" id="mycontent" width="800px" height="600px" style="overflow:auto;border:5px ridge blue">         
        </div> -->
        
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
            <div class="modal-header">
                <span class="close" id="modalclose">&times;</span>
                <h4>Lima Chatbot - Hi<user class="user" id="my_username">
                    {{user.username}}
                </user>!!!!</h4>
            </div>
            <div class="modal-body" id="myModalbody">
                <!-- <p>Some text in the Modal Body</p>
                <p>Some other text...</p> -->
            </div>
            <div class="modal-footer">
                <h5>&copy;<script>document.write( new Date().getFullYear() );</script> - Lima Chatbot Application</h5>
            </div>
            </div>
        
        </div>
        
    </div>
    <div class="col-md-4">
        <h2>Azure DevOps Project</h2>
        <p>Learn more about all you can do with Azure DevOps project by visiting the documentation</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=862126">Learn more &raquo;</a></p>
    </div>
</div>


{% endblock %}

{% block scripts %}

    {% load static %}

<script src="{% static 'app/scripts/respond.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}
